@page
@model Taller.App.Front.Pages.RegistroMecanicoModel
@{

 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Celular</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Correo</th>
      <th scope="col">Dirección</th>
      <th scope="col">Estudios</th>


    </tr>
  </thead>
    <tbody class="table-group-divider">
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Fredy Galvez</td>
      <td>3205564378</td>
      <td>01/07/89</td>
      <td>xxx@hotmail</td>
      <td>cra45 # 25 30</td>
      <td>Electrico Automotriz</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Alex Orjuela</td>
      <td>3134569842</td>
      <td>09/09/00</td>
      <td>yyyy@gmail</td>
      <td>calle 35 # 28 89</td>
      <td>Mecanico</td>
    </tr>
    <tr>
      <th scope="row">3</th>
       <td>Luis Sarmiento</td>
      <td>3167898654</td>
      <td>30/01/88</td>
      <td>www@gmail</td>
      <td>av 16 # 29 21</td>
      <td>Mecanico general</td>
    </tr>
  </tbody>
</table>
}

@{

<form class="row g-3">
  <div class="col-8">
    <label for="inputAddress2" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="inputAddress2" >
  </div>
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Celular</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Fecha de Nacimiento</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Correo</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-6">
    <label for="inputAddress" class="form-label">Dirección</label>
    <input type="text" class="form-control" id="inputAddress" >
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Estudios</label>
    <input type="text" class="form-control" id="inputAddress" >
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Agregar</button>
  </div>
   <div class="col-med-12">
    <button type="submit" class="btn btn-primary">Modificar</button>
  </div>
  <div class="col-med-12">
    <button type="submit" class="btn btn-primary">Eliminar</button>
  </div>
</form>

}
